.sectionCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

.Cadastro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
}

.imgFormCadastro img {
    max-width: 90%;
    min-width: 200px;
}

.LogoInputCadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LogoInputCadastro form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ImgLogoCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImgLogoCadastro img {
    max-width: 50%;
    margin-bottom: 50px;
}

.formularioCadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputsCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputsCadastro,
.TextFieldCadastro {
    padding: 10px;
    width: 500px;
}

.LogoInputCadastro form button {
    margin-top: 30px;
    height: 40px;
    width: 300px;
    border: none;
    cursor: pointer;
    background-color: #9850eb;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 1px 1px 2px rgb(146, 137, 137);
    transition: 0.1s;
}

.LogoInputCadastro form button:hover {
    background-color: #5a2f8b;
}

.LogoInputCadastro p {
    margin-top: 20px;
    font-size: 15px;
}

.LogoInputCadastro a {
    color: #9850eb;
    font-weight: bold;
}

.LogoInputCadastro a:hover {
    color: #5a2f8b;
}

@media (max-width: 550px) {
    .Cadastro {
        height: 350px;
    }

    .ImgLogoCadastro img {
        max-width: 40%;
        margin-bottom: 35px;
    }

    .inputsCadastro,
    .TextFieldCadastro {
        padding: 6px;
        width: 280px;
    }

    .TextFieldCadastro input{
        height: 15px;
    }

    .LogoInputCadastro form button {
        margin-top: 25px;
        height: 35px;
        width: 200px;   
        font-size: 15px;
    }

    .LogoInputCadastro p {
        margin-top: 15px;
        font-size: 12px;
    }

    .CadastroRecSenha p {
        margin-top: 1px;
        margin-left: -130px;
    }
}

@media (max-width: 300px) {
    .ImgLogoCadastro img {
        max-width: 40%;
        margin-bottom: 35px;
    }

    .Cadastro {
        height: 350px;
    }

    .inputsCadastro,
    .TextFieldCadastro {
        padding: 6px;
        width: 260px;
    }

    .TextFieldCadastro input{
        height: 12px;
    }

    .LogoInputCadastro form button {
        margin-top: 25px;
        height: 30px;
        width: 191px;   
        font-size: 15px;
    }

    .LogoInputCadastro p {
        margin-top: 15px;
        font-size: 12px;
    }

}
