.sectionLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    /* background-color:#0098B2;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(146, 137, 137); */
}

.LogoInputLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LogoInputLogin form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ImgLogoLogin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImgLogoLogin img {
    max-width: 50%;
    margin-bottom: 50px;
}

.formularioLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputsLogin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputsLogin,
.TextFieldLogin {
    padding: 10px;
    width: 500px;
}

.LogoInputLogin button {
    margin-top: 30px;
    height: 40px;
    width: 300px;
    border: none;
    cursor: pointer;
    background-color: #9850eb;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 1px 1px 2px rgb(146, 137, 137);
    transition: 0.1s;
}

.LogoInputLogin button:hover {
    background-color: #5a2f8b;
}

.LogoInputLogin p {
    margin-top: 20px;
    font-size: 15px;
}

.LogoInputLogin a {
    color: #9850eb;
    font-weight: bold;
    transition: 0.1s;
}

.LogoInputLogin a:hover {
    color: #5a2f8b;
}

.LoginRecSenha p {
    margin-top: -0.5px;
    margin-left: -230px;
}

.LoginRecSenha a {
    color: black;
    transition: 0.1s;
    font-weight: normal;
}

.LoginRecSenha a:hover {
    color: #5a2f8b;
}

@media (max-width: 550px) {
    .login {
        height: 350px;
    }

    .ImgLogoLogin img {
        max-width: 40%;
        margin-bottom: 35px;
    }

    .inputsLogin,
    .TextFieldLogin {
        padding: 6px;
        width: 280px;
    }

    .TextFieldLogin input{
        height: 15px;
    }

    .LogoInputLogin button {
        margin-top: 25px;
        height: 35px;
        width: 200px;   
        font-size: 15px;
    }

    .LogoInputLogin p {
        margin-top: 15px;
        font-size: 12px;
    }

    .LoginRecSenha p {
        margin-top: 1px;
        margin-left: -130px;
    }
}

@media (max-width: 300px) {
    .login {
        height: 300px;
    }

    .inputsLogin,
    .TextFieldLogin {
        padding: 6px;
        width: 260px;
    }

    .TextFieldLogin input{
        height: 15px;
    }

    .LogoInputLogin button {
        margin-top: 25px;
        height: 30px;
        width: 191px;   
        font-size: 15px;
    }

    .LogoInputLogin p {
        margin-top: 15px;
        font-size: 12px;
    }

    .LoginRecSenha p {
        margin-top: 1px;
        margin-left: -120px;
    }
}