.containerExtrato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 100px;
}

.extratoUl{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.extratLi{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    background-color: #0098b2;
    padding: 20px;
    width: 700px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(146, 137, 137);
}

.extratoCredito{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:context-menu;
    padding: 10px;
    background-color: #9850EB;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.3);
}

.extratoCredito p{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    font-family: Nunito;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.extratoDate h1{
    color: black;
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    font-family: Nunito;
}

.extratoDate span {
    font-size: 15px;
}

@media(max-width: 750px){
    .containerExtrato{
        padding: 15px;
        margin-bottom: 80px;
    }
    .extratoUl{
        gap: 30px;
    }
    .extratLi{
        gap: 10px;
        padding: 15px;
        width: 500px;
    }
    .extratoCredito{
        padding: 10px;
    }
    .extratoCredito p{
        font-size: 10px;
    }
    .extratoDate h1{
        font-size: 16px;
    }
    .extratoDate span {
        font-size: 11.5px;
    }
}

@media(max-width: 550px){
    .containerExtrato{
        padding: 10px;
        margin-bottom: 80px;
    }
    .extratoUl{
        gap: 20px;
    }
    .extratLi{
        gap: 10px;
        padding: 10px;
        width: 340px;
        border-radius: 5px;
    }
    .extratoCredito{
        padding: 5px;
        width: 90px;
        border-radius: 3px;
    }
    .extratoCredito p{
        font-size: 9px;
    }
    .extratoDate h1{
        font-size: 11px;
    }
    .extratoDate span {
        font-size: 9px;
    }
}




