.butaoAddCartao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10%;
    margin-bottom: 40%;
}

.butaoAddCartao a {
    text-decoration: none;
    color: #333232; 
    cursor: pointer;
    transition: 0.1s;
    padding: 10px;
}

.butaoAddCartao a:hover {
    color: #5a2f8b;
}

.butaoAddCartao button{
    background-color:#5a2f8b;
    transition: 0.1s;
}

.butaoAddCartao button:hover{
    background-color: #9850EB;
}

.butaoAddCartao button:active{
    background-color: #13b731;
}

