.tituloGlobal h1 {
    margin-top: 30px;
    font-size: 20px;
    color: #000000b1;
    padding: 10px;
}

.barraGlobal {
    background-color: #000000b1;
    height: 2px;
    max-width: 98%;
    margin-left: 9px;
    margin-bottom: 40px;
}

.containerAddCartao{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainAddCartao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
}

.botaoAddCartao {
    display: flex;
   flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10%;
    margin-bottom: 40%;
}

.botaoAddCartao a {
    text-decoration: none;
    color: #333232; 
    cursor: pointer;
    transition: 0.1s;
    padding: 10px;
}

.botaoAddCartao a:hover {
    color: #5a2f8b;
}

.botaoAddCartao button{
    background-color:#5a2f8b;
    transition: 0.1s;
}

.botaoAddCartao button:hover{
    background-color: #9850EB;
}

.botaoAddCartao button:active{
    background-color: #13b731;
}

