
.uploadBody {
    width: 100%;
    min-width: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fieldgroup {
    width: auto;
    padding: 30px;
  }
  .filefield {
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
  }
  .filelabel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 15px;
    font-size: 1.2rem;
    border-radius: 40px;
    font-weight: bold;
    color: #9675A6;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .filelabel img {
    height: 50px;
  }
  .filefield:focus + .filelabel,
  .filelabel:hover {
    color: #9675A6;
  }
  
  .filelabel.background {
    background-color: #9675A6;
    color: #fff;
  }
  .filefield:focus + .filelabel.background,
  .filelabel.background:hover {
    background-color: #9850EB;
    color: #ffffff;
  }
  