.sectionRecSenha {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

.RecSenha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
}

.LogoInputRecSenha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LogoInputRecSenha form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ImgLogoRecSenha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImgLogoRecSenha img {
    max-width: 50%;
    margin-bottom: 40px;
}

.formularioRecSenha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputsRecSenha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputsRecSenha,
.TextFieldRecSenha {
    padding: 1px;
    width: 500px;
}

.LogoInputRecSenha form button {
    margin-top: 20px;
    height: 40px;
    width: 300px;
    border: none;
    cursor: pointer;
    background-color: #9850eb;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 1px 1px 2px rgb(146, 137, 137);
    transition: 0.1s;
}

.LogoInputRecSenha form button:hover {
    background-color: #5a2f8b;
}

.LogoInputRecSenha p {
    margin-top: 13px;
    font-size: 15px;
}

.LogoInputRecSenha a {
    color: #9850eb;
    font-weight: bold;
    transition: 0.1s;
}

.LogoInputRecSenha a:hover {
    color: #5a2f8b;
}

@media (max-width: 550px) {
    .RecSenha {
        height: 350px;
    }

    .ImgLogoRecSenha img {
        max-width: 40%;
        margin-bottom: 35px;
    }

    .inputsRecSenha,
    .TextFieldRecSenha {
        padding: 6px;
        width: 280px;
    }

    .TextFieldRecSenha input{
        height: 15px;
    }

    .LogoInputRecSenha form button {
        margin-top: 25px;
        height: 35px;
        width: 200px;   
        font-size: 15px;
    }

    .LogoInputRecSenha p {
        margin-top: 15px;
        font-size: 12px;
    }

    .RecSenhaRecSenha p {
        margin-top: 1px;
        margin-left: -130px;
    }
}

@media (max-width: 300px) {
    .ImgLogoRecSenha img {
        max-width: 50%;
        margin-bottom: 35px;
    }

    .RecSenha {
        height: 280px;
    }

    .inputsRecSenha,
    .TextFieldRecSenha {
        padding: 6px;
        width: 260px;
    }

    .TextFieldRecSenha input{
        height: 10px;
    }

    .LogoInputRecSenha form button {
        margin-top: 20px;
        height: 30px;
        width: 191px;   
        font-size: 15px;
    }

    .LogoInputRecSenha p {
        margin-top: 15px;
        font-size: 12px;
    }

}
