.sectionRecSenha {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.RecSenha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    /* background-color:#0098B2;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(146, 137, 137); */
    gap: 10px;
}

.imgFormRecSenha img {
    max-width: 90%;
    min-width: 200px;
}

.LogoInputRecSenha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LogoInputRecSenha form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ImgLogoRecSenha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImgLogoRecSenha img {
    max-width: 50%;
    margin-bottom: 30px;
}

.formularioRecSenha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputsRecSenha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputsRecSenha,
.TextFieldRecSenha {
    padding: 0px;
    width: 500px;
}

.LogoInputRecSenha form button {
    margin-top: 20px;
    height: 40px;
    width: 300px;
    border: none;
    cursor: pointer;
    background-color: #9850eb;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 1px 1px 2px rgb(146, 137, 137);
    transition: 0.1s;
}

.LogoInputRecSenha form button:hover {
    background-color: #5a2f8b;
}

.LogoInputRecSenha p {
    margin-top: 13px;
    font-size: 15px;
}

.LogoInputRecSenha a {
    color: #9850eb;
    font-weight: bold;
    transition: 0.1s;
}

.LogoInputRecSenha a:hover {
    color: #5a2f8b;
}
